.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 50px 0;
  background-image: url("../../../../public/background.png");
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 85%;
}
