.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLabel {
  font-size: 20px;
}

.itemSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}