.page {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    font-family: 'Poppins-Medium', sans-serif;
}

.logoSide {
    width: 47%;
    background-color: #295972;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#design {
    height: 70%;
    padding-bottom: 5%;
}

#sitename {
    height: 10%
}

.formSide {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.innerBox {
    background-color: rgba(208, 209, 42, 0.84);
    color: #295972;
    height: 77%;
    width: 62%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
    opacity: 100%;
}

.form { 
    width: 76%;
}

.input {
    width: 100%;
    height: 24px;
    font-size: 20px;
    margin-top: 15%;
    color: #295972;
}

.input, .input:focus, .input:hover, .input:active {
    outline: none;
    box-shadow:none;
    border: none;
    border-bottom: 1.5px solid #295972; 
    background: transparent;
}

.input::placeholder {
    color: #295972;
    font-size: 20px;
}

.submit {
    box-sizing: border-box;
    width: 188px;
    height: 40px;
    left: 1028px;
    top: 630px;

    background: black;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins-Medium', sans-serif;

    margin-top: 15%;
}