.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background-image: url("../../../public/background.png");
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 70%;
  border: 5px white solid;
  background-image: url("../../../public/inverted_bg.png");
  background-size: 100% 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 7;
  width: 30%;
}

.header {
  color: white;
  font-size: "Poppins", sans-serif;
}

.inputField {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.inputField:focus {
  border: 2px solid black;
  outline: none;
}

.button {
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(50, 50, 50);
}

.submitButton {
  width: 80%;
}

.message {
  width: 80%;
  min-height: 15px;
  margin: 10px;
  font-size: small;
  text-align: center;
}

.error {
  color: #ff0000;
}

.success {
  color: #00ff00;
}

.returnButtonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.returnHomeButton {
  width: 20%;
  margin-right: 15px;
}
