rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() {
      return request.auth != null
    }

    function isAdmin() {
      return isAuthed() && request.auth.token.role == "ADMIN"
    }

    function isStaff() {
      return isAuthed() && request.auth.token.role == "STAFF"
    }

    function isEmployee() {
      return isAdmin() || isStaff()
    }
    
    function isStudent() {
      return isAuthed() && request.auth.token.role == "STUDENT"
    }

    function isStudentId(id) {
      return isStudent() && request.auth.token.studentId == id
    }

    function isStudentWithoutId() {
      return isStudent() && !request.auth.token.keys().hasAny(['studentId'])
    }

    function isOnSurveyAccessList(surveyId) {
      let data = get(/databases/$(database)/documents/students/$(request.auth.token.studentId)/surveyAccessList/surveyAccessList).data;
      return data != null && data.keys().hasAny([surveyId]);
    }

    match /students/{studentId} {
      allow read: if isEmployee() || isStudentId(studentId)
      allow create: if isStudent()
      allow update: if isEmployee() || isStudentId(studentId)
      allow delete: if false
    }

    match /surveys/{surveyId} {
      allow read: if isEmployee() || isOnSurveyAccessList(surveyId)
      allow write: if isEmployee()

      match /surveyAccessList/surveyAccessList {
        allow read, write: if false
      }
    }

    match /{path=**}/assignments/{assignmentId} {
      allow read: if isEmployee() || isStudentId(resource.data.studentId)
      allow create, update: if isEmployee() || resource.data.studentEmail == request.auth.token.email
      allow delete: if isEmployee() && resource.data.responseId == null
    }

    match /adminData/{document=**} {
      allow read: if isEmployee()
      allow write: if false
    }

    match /metadata {
      match /nextStudentId {
        function getFirstNextStudentId() {
          return 1000001;
        }

        allow read: if isStudentWithoutId()
        allow create: if isStudentWithoutId() && request.resource.data.nextStudentId == getFirstNextStudentId()
        allow update: if isStudentWithoutId() && request.resource.data.nextStudentId == resource.data.nextStudentId + 1
      }
    }

    match /googleOAuth2Tokens {
      allow read, write: if false
    }
  }
}