.mainContainer {
    padding: 5px;
    background-color:#D9D9D9;
    height: fit-content;
}

.container {
    background-color: #35627A;
    padding: 30px;
    border-radius: 15px;
    margin: 25px;
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#D9D9D9;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.view {
    width: calc(100%/3);
    font-weight: 600;
}

.survey {
    width: calc(100%/3);
}

.export {
    width: calc(100%/3);
    border-style: none;
    background-color: transparent;
    font-weight: 600;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.createSurvey {
    font-weight: 600;
    border-radius: 10px;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-style: none;
}

.createSurvey:hover, .export:hover {
    cursor: pointer;
}