.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  height: 60%;
  background-color: #d0d12a;
}

.header {
  color: #295972;
}

.fieldContainer {
  width: 40%;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 10px;
}

.fieldContainer:focus-within {
  border: 2px solid black;
}

.inputField {
  width: 90%;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.inputField:focus {
  outline: none;
}

.message {
  width: 80%;
  min-height: 15px;
  margin: 10px;
  font-size: small;
  text-align: center;
}

.error {
  color: #aa0000;
}

.success {
  color: #008800;
}

.button {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(50, 50, 50);
}
