.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  background-color: #d9d9d9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  min-height: 85vh;
  background-color: #1e4154;
  border-radius: 20px;
  padding: 2.5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.span {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #1e4154;
  font-weight: 600;
  background-color: #d0d12a;
}

.headerText {
  font-family: "Poppins", sans-serif;
  color: #d0d12a;
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
  align-self: flex-start;
}

.optionMenu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
}

.linkText {
  color: #0000aa;
  font-weight: 500;
  margin: 0;
}

.linkIcon {
  color: black;
  padding: 0px;
}

.linkIcon:hover {
  color: #00000080;
}

.switch {
  all: unset;
  width: 42px;
  height: 25px;
  background-color: #aaaaaa;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 2px black;
  &[data-state="checked"] {
    background-color: black;
  }
}

.switchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(19px);
  }
}
