.activeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.errorIcon {
  color: #aa0000;
  cursor: pointer;
}

.switchDisabled {
  cursor: not-allowed;
}

.switchTrack {
  background-color: #aaaaaa;
  border: 2px solid black;
  width: 45px;
  height: 30px;
  cursor: pointer;
}

.switchThumb {
  background-color: white;
  width: 15px;
  height: 15px;
}