@import-normalize;

html, body, #app, #app>div {
    height: 100%;
    margin: 0; /* So that the login page takes up the full screen */
    padding: 0; /* So that the login page takes up the full screen */
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../lib/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../lib/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../lib/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLightTwo-Regular';
    src: url('../lib/fonts/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf');
}