.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: black;
    font-weight: 400;
    margin: 0;
}

.bold {
    font-weight: 700;

}

.button {
    width: 175px;
    height: 45px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-top: 20px;
}