.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background-color: #d9d9d9;
}

.closeIcon {
    width: 24px;
    height: 24px;
    margin: 10px;
    cursor: pointer;
    background-image: url('../../public/icons/close-icon.png');
    background-size: cover;
    justify-self: flex-start;
    align-self: flex-end;
}