.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.searchBox input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
}

.searchIcon {
    color: #555;
}

.closeIcon {
    margin-left: auto;
    color: #555;
    cursor: pointer;
}

.draftEmailButton,
.exportButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.draftEmailButton {
    background: #5568FE;
}

.assignSurveysDropdown {
    position: relative;
    display: inline-block;
}

.assignSurveysButton {
    background-color: #F49F0A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.assignSurveysButton:hover,
.assignSurveysButton:focus {
    background-color: #F49F0A;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.assignSurveysDropdown:hover .dropdownContent {
    display: block;
}


.exportButton {
    background: #4CAF50;
}

.button {
    background-color: #e1ecf1;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 5px;
    font-size: 1em;
    width: 300px;
    /* Adjust font-size as needed */
}

.paginationButton:disabled {
    cursor: not-allowed;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}