.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logoSide {
    width: 47%;
    background-color: #295972;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSide img {
    width: 70%;
}

.formSide {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.innerBox {
    background-color: #D0D12A;
    opacity: 84%;
    color: #295972;
    height: 77%;
    width: 62%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 48px;
    margin-bottom: 0;
}

.form { 
    width: 76%;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #295972;
    width: 100%;
    height: 23px;
    
    margin-top: 15%;
}

.input::placeholder {
    color: #295972;
    font-size: 24px;
}

.submit {
    box-sizing: border-box;
    width: 188px;
    height: 40px;
    left: 1028px;
    top: 630px;

    background: black;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    font-size: 20px;

    margin-top: 25%;
}