.container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins-Medium';
}

.inputContainer, .editBtn, .btnsContainer button {
    font-family: 'Poppins-Medium';
}

.leftPane {
    background-color: #D0D12A;
    display: content;
    padding: 30px;
}


.rightPane {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #295972;
}

#hr {
    background-color: white;
}

.settingsHeader {
    color: white;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 30px;
}

.settingsContainer .settingField:first-child {
    margin-top: 5%;
}

.settingsContainer .settingField {
    margin-top: 30px;
}

.settingField {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.inputContainer {
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    color: white;
    font-size: 20px;
}

.inputContainer:focus {
    outline: none;
}

.editBtn {
    color: white;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding-right: 15px;
    padding-left: 0;
    cursor: pointer;
    font-size: 20px;
}

.btnsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.btnsContainer button {
    color: white;
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
}