.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    z-index: 1;
}

.passwordReset {
    position: absolute;
    border: 4px solid white;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%; /* Adjusted width */
    height: 75%; /* Adjust height as necessary, or use 'auto' */
    max-width: 1000px; /* Adjust max-width as necessary */
    min-width: 300px; /* Adjust min-width as necessary */
    padding: 70px 12px; /* This also affects the height indirectly */
    color: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.passwordReset_input, .passwordReset_button {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px; /* Adjust padding to match the desired size */
}

.passwordReset_input {
    width: 40%; /* Adjust if you need a different width */
    margin-top: 40px;
    padding: 15px 12px; /* Adjust padding for a taller input field, maintaining left/right padding */
    font-size: 16px; /* Adjust font size for better visibility */
    color: rgb(255, 255, 255); /* Text color */
    background-color: #295972; /* Background color of the input */
    border: none;
}

.passwordReset_input::placeholder {
    color: white;
    opacity: 1; /* Override any default styles that might make it less visible */
  }

.passwordReset_button {
    width: 30%;
    padding: 10px;
    margin-top: 25px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.back_to_login {
    margin-top: 150px; /* Increased margin-top to move it further down */
    width: 13%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
}