.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  background-color: #d9d9d9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 90%;
  min-height: 85vh;
  background-color: #1e4154;
  border-radius: 20px;
  padding: 2.5%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.header {
  width: 80%;
  font-family: "Poppins", sans-serif;
  color: #d0d12a;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
}

.infoFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoRowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #91a5af;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 400;
  background-color: #dedeb2;
}

.infoRowField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  width: 25%;
}

.infoRowValue {
  width: 60%;
}

.surveysSectionHeader {
  width: 75%;
  text-align: left;
  color: #d0d12a;
  font-family: "Poppins", sans-serif;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 75%;
}

.pendingRow {
  background-color: #d92929;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
}

.responseRow {
  background-color: #4caf50;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
}

.rowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.rowTrigger {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 2px;
}

.embeddedForm {
  width: 95%;
  height: 500px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 75%;
}

.icon {
  color: black;
  cursor: pointer;
}

.icon:hover {
  color: #555555;
}

.optionsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
