.actionIconRoot {
  color: #35627a;
  background-color: #dedeb2;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
}

.actionIconRoot:hover {
  color: #5d8195;
}

.tooltip {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
}