.table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.rowItem {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.rowItem:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
}

.rowItem:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 5px;
}

.headerRow {
  background-color: #d9d9d9;
}

.tableRow {
  background-color: #295972;
}

.tableRow:hover {
  background-color: #bebebe;
}

.selectedTableRow {
  background-color: #dedeb2;
}

.selectedTableRow:hover {
  background-color: #bebebe;
}