.tableContainer {
  overflow: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.tableHead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.rowItem {
  padding: 10px;
  text-align: center;
  background: inherit;
}

.rowItem:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowItem:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.headerRow {
  background-color: #d9d9d9;
}

.tableRow {
  background-color: #295972;
}

.tableRow:hover {
  background-color: #bebebe;
}

.selectedTableRow {
  background-color: #dedeb2;
}

.selectedTableRow:hover {
  background-color: #bebebe;
}

.stickyCol {
  position: sticky;
  left: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationElement {
  margin-left: 10px;
  margin-right: 10px;
}

.pageButton {
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  border: none;
  background: none;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #dedede;
}

.pageButton:disabled {
  cursor: not-allowed;
}

.pageButton:disabled:hover {
  background-color: transparent;
}
