.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputIconGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 10px;
  outline: none;
  padding: 10px 10px;
}

.inputIconGroup:focus-within {
  outline: 2px solid #ffffff;
}

.inputIconGroup input {
  width: 100%;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.requiredAsterisk {
  color: red;
}

.fieldLabel {
  margin-left: 8px;
}
