.container {
  display: flex;
  min-height: 100%;
  width: auto;
  font-family: "Poppins-Medium";
}

.inputContainer,
.editBtn,
.btnsContainer button {
  font-family: "Poppins-Medium";
}

.leftPane {
  background-color: #d0d12a;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  width: 15%;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  float: left;
  height: 100vh;
}

.image {
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.rightPane {
  width: 71%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  background-color: #295972;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
}

.sectionHeader {
  color: white;
  font-weight: lighter;
  font-size: 25px;
}

.headerContainer {
  width: 610px;
}

#hr {
  background-color: white;
}

.settingsHeader {
  color: white;
  font-weight: 300;
  margin-bottom: 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.settingsContainer .settingField:first-child {
  margin-top: 5%;
}

.settingsContainer .settingField {
  margin-top: 3%;
}

.settingField {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.inputContainer {
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  color: white;
  font-size: 20px;
  width: 70%;
}

.inputContainer:focus {
  outline: none;
}

.editBtn {
  color: white;
  background-color: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  padding-right: 15px;
  padding-left: 0;
  cursor: pointer;
  font-size: 20px;
}

.btnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.btnsContainer button {
  color: white;
  background-color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border-style: solid;
  font-size: 20px;
}
